<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 movieThumb" ng-repeat="movie in movies">
      <div class="thumbnail text-center">
        <img src="{{movie.picture}}" alt="{{movie.title}}">
        <div class="caption">
          <h3>{{movie.title}}</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>