.movieThumb {
  height: 570px;
}
.theatreThumb {
  height: 200px;
  margin-bottom: 10px;
}
.theatreThumb .thumbnail {
  height: inherit;
}
.theatreThumb .thumbnail .title {
  height: 52px;
}

.cursor-pointer {
  cursor: pointer;
}
